<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamDataElementMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamDataElement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="lable_name" jdbcType="VARCHAR" property="lableName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="equipment_category_id" jdbcType="INTEGER" property="equipmentCategoryId" />
    <result column="is_statistic_by_date" jdbcType="BIT" property="isStatisticByDate" />
    <result column="is_statistic_by_shift" jdbcType="BIT" property="isStatisticByShift" />
    <result column="is_summation" jdbcType="BIT" property="isSummation" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, lable_name, unit, data_type, equipment_category_id, is_statistic_by_date, 
    is_statistic_by_shift, is_summation, create_user_id, create_time, update_user_id, 
    update_time, delete_flag
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamDataElementExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_data_element
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_data_element
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update eam_data_element set delete_flag = 1 
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamDataElementExample">
    update eam_data_element set delete_flag = 1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamDataElement">
    insert into eam_data_element (id, name, lable_name, 
      unit, data_type, equipment_category_id, 
      is_statistic_by_date, is_statistic_by_shift, is_summation, 
      create_user_id, create_time, update_user_id, 
      update_time, delete_flag)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{lableName,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{equipmentCategoryId,jdbcType=INTEGER}, 
      #{isStatisticByDate,jdbcType=BIT}, #{isStatisticByShift,jdbcType=BIT}, #{isSummation,jdbcType=BIT}, 
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamDataElement">
    insert into eam_data_element
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="lableName != null">
        lable_name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="equipmentCategoryId != null">
        equipment_category_id,
      </if>
      <if test="isStatisticByDate != null">
        is_statistic_by_date,
      </if>
      <if test="isStatisticByShift != null">
        is_statistic_by_shift,
      </if>
      <if test="isSummation != null">
        is_summation,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lableName != null">
        #{lableName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCategoryId != null">
        #{equipmentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="isStatisticByDate != null">
        #{isStatisticByDate,jdbcType=BIT},
      </if>
      <if test="isStatisticByShift != null">
        #{isStatisticByShift,jdbcType=BIT},
      </if>
      <if test="isSummation != null">
        #{isSummation,jdbcType=BIT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamDataElementExample" resultType="java.lang.Long">
    select count(*) from eam_data_element
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_data_element
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.lableName != null">
        lable_name = #{record.lableName,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentCategoryId != null">
        equipment_category_id = #{record.equipmentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.isStatisticByDate != null">
        is_statistic_by_date = #{record.isStatisticByDate,jdbcType=BIT},
      </if>
      <if test="record.isStatisticByShift != null">
        is_statistic_by_shift = #{record.isStatisticByShift,jdbcType=BIT},
      </if>
      <if test="record.isSummation != null">
        is_summation = #{record.isSummation,jdbcType=BIT},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_data_element
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      lable_name = #{record.lableName,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR},
      equipment_category_id = #{record.equipmentCategoryId,jdbcType=INTEGER},
      is_statistic_by_date = #{record.isStatisticByDate,jdbcType=BIT},
      is_statistic_by_shift = #{record.isStatisticByShift,jdbcType=BIT},
      is_summation = #{record.isSummation,jdbcType=BIT},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamDataElement">
    update eam_data_element
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lableName != null">
        lable_name = #{lableName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCategoryId != null">
        equipment_category_id = #{equipmentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="isStatisticByDate != null">
        is_statistic_by_date = #{isStatisticByDate,jdbcType=BIT},
      </if>
      <if test="isStatisticByShift != null">
        is_statistic_by_shift = #{isStatisticByShift,jdbcType=BIT},
      </if>
      <if test="isSummation != null">
        is_summation = #{isSummation,jdbcType=BIT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamDataElement">
    update eam_data_element
    set name = #{name,jdbcType=VARCHAR},
      lable_name = #{lableName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      equipment_category_id = #{equipmentCategoryId,jdbcType=INTEGER},
      is_statistic_by_date = #{isStatisticByDate,jdbcType=BIT},
      is_statistic_by_shift = #{isStatisticByShift,jdbcType=BIT},
      is_summation = #{isSummation,jdbcType=BIT},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into eam_data_element  (id, name, lable_name, 
        unit, data_type, equipment_category_id, 
        is_statistic_by_date, is_statistic_by_shift, is_summation, 
        create_user_id, create_time, update_user_id, 
        update_time, delete_flag)
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.lableName,jdbcType=VARCHAR}, 
        #{item.unit,jdbcType=VARCHAR}, #{item.dataType,jdbcType=VARCHAR}, #{item.equipmentCategoryId,jdbcType=INTEGER}, 
        #{item.isStatisticByDate,jdbcType=BIT}, #{item.isStatisticByShift,jdbcType=BIT}, #{item.isSummation,jdbcType=BIT}, 
        #{item.createUserId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=INTEGER}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.deleteFlag,jdbcType=BIT})
      </foreach>
    </if>
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>