<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamEquipment">
    <id column="eam_equipment_equipment_id" jdbcType="VARCHAR" property="equipmentId" />
    <result column="eam_equipment_equipment_category_id" jdbcType="INTEGER" property="equipmentCategoryId" />
    <result column="eam_equipment_product_line_id" jdbcType="VARCHAR" property="productLineId" />
    <result column="eam_equipment_name" jdbcType="VARCHAR" property="name" />
    <result column="eam_equipment_number" jdbcType="VARCHAR" property="number" />
    <result column="eam_equipment_serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="eam_equipment_image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="eam_equipment_output" jdbcType="VARCHAR" property="output" />
    <result column="eam_equipment_dimension" jdbcType="VARCHAR" property="dimension" />
    <result column="eam_equipment_weight" jdbcType="VARCHAR" property="weight" />
    <result column="eam_equipment_power" jdbcType="VARCHAR" property="power" />
    <result column="eam_equipment_capacity" jdbcType="VARCHAR" property="capacity" />
    <result column="eam_equipment_user" jdbcType="VARCHAR" property="user" />
    <result column="eam_equipment_collect_status" jdbcType="VARCHAR" property="collectStatus" />
    <result column="eam_equipment_grm" jdbcType="VARCHAR" property="grm" />
    <result column="eam_equipment_grm_password" jdbcType="VARCHAR" property="grmPassword" />
    <result column="eam_equipment_grm_period" jdbcType="INTEGER" property="grmPeriod" />
    <result column="eam_equipment_factory_date" jdbcType="TIMESTAMP" property="factoryDate" />
    <result column="eam_equipment_commissioning_date" jdbcType="TIMESTAMP" property="commissioningDate" />
    <result column="eam_equipment_warranty_start_date" jdbcType="TIMESTAMP" property="warrantyStartDate" />
    <result column="eam_equipment_warranty_end_date" jdbcType="TIMESTAMP" property="warrantyEndDate" />
    <result column="eam_equipment_maintenance_period" jdbcType="VARCHAR" property="maintenancePeriod" />
    <result column="eam_equipment_left_position" jdbcType="DECIMAL" property="leftPosition" />
    <result column="eam_equipment_top_position" jdbcType="DECIMAL" property="topPosition" />
    <result column="eam_equipment_create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="eam_equipment_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eam_equipment_update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="eam_equipment_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="eam_equipment_delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="eam_equipment_is_online" jdbcType="BIT" property="isOnline" />
    <result column="eam_equipment_task_number" jdbcType="VARCHAR" property="taskNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    eam_equipment.equipment_id as eam_equipment_equipment_id, eam_equipment.equipment_category_id as eam_equipment_equipment_category_id, 
    eam_equipment.product_line_id as eam_equipment_product_line_id, eam_equipment.name as eam_equipment_name, 
    eam_equipment.number as eam_equipment_number, eam_equipment.serial_number as eam_equipment_serial_number, 
    eam_equipment.image_path as eam_equipment_image_path, eam_equipment.output as eam_equipment_output, 
    eam_equipment.dimension as eam_equipment_dimension, eam_equipment.weight as eam_equipment_weight, 
    eam_equipment.power as eam_equipment_power, eam_equipment.capacity as eam_equipment_capacity, 
    eam_equipment.user as eam_equipment_user, eam_equipment.collect_status as eam_equipment_collect_status, 
    eam_equipment.grm as eam_equipment_grm, eam_equipment.grm_password as eam_equipment_grm_password, 
    eam_equipment.grm_period as eam_equipment_grm_period, eam_equipment.factory_date as eam_equipment_factory_date, 
    eam_equipment.commissioning_date as eam_equipment_commissioning_date, eam_equipment.warranty_start_date as eam_equipment_warranty_start_date, 
    eam_equipment.warranty_end_date as eam_equipment_warranty_end_date, eam_equipment.maintenance_period as eam_equipment_maintenance_period, 
    eam_equipment.left_position as eam_equipment_left_position, eam_equipment.top_position as eam_equipment_top_position, 
    eam_equipment.create_user_id as eam_equipment_create_user_id, eam_equipment.create_time as eam_equipment_create_time, 
    eam_equipment.update_user_id as eam_equipment_update_user_id, eam_equipment.update_time as eam_equipment_update_time, 
    eam_equipment.delete_flag as eam_equipment_delete_flag, eam_equipment.is_online as eam_equipment_is_online, 
    eam_equipment.task_number as eam_equipment_task_number
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamEquipmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_equipment eam_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_equipment eam_equipment
    where eam_equipment.equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update eam_equipment eam_equipment set delete_flag = 1 
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamEquipmentExample">
    update eam_equipment eam_equipment set delete_flag = 1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    insert into eam_equipment (equipment_id, equipment_category_id, 
      product_line_id, name, number, 
      serial_number, image_path, output, 
      dimension, weight, power, 
      capacity, user, collect_status, 
      grm, grm_password, grm_period, 
      factory_date, commissioning_date, warranty_start_date, 
      warranty_end_date, maintenance_period, left_position, 
      top_position, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      is_online, task_number)
    values (#{equipmentId,jdbcType=VARCHAR}, #{equipmentCategoryId,jdbcType=INTEGER}, 
      #{productLineId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{serialNumber,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, #{output,jdbcType=VARCHAR}, 
      #{dimension,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, 
      #{capacity,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, #{collectStatus,jdbcType=VARCHAR}, 
      #{grm,jdbcType=VARCHAR}, #{grmPassword,jdbcType=VARCHAR}, #{grmPeriod,jdbcType=INTEGER}, 
      #{factoryDate,jdbcType=TIMESTAMP}, #{commissioningDate,jdbcType=TIMESTAMP}, #{warrantyStartDate,jdbcType=TIMESTAMP}, 
      #{warrantyEndDate,jdbcType=TIMESTAMP}, #{maintenancePeriod,jdbcType=VARCHAR}, #{leftPosition,jdbcType=DECIMAL}, 
      #{topPosition,jdbcType=DECIMAL}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{isOnline,jdbcType=BIT}, #{taskNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    insert into eam_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equipmentCategoryId != null">
        equipment_category_id,
      </if>
      <if test="productLineId != null">
        product_line_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="output != null">
        output,
      </if>
      <if test="dimension != null">
        dimension,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="collectStatus != null">
        collect_status,
      </if>
      <if test="grm != null">
        grm,
      </if>
      <if test="grmPassword != null">
        grm_password,
      </if>
      <if test="grmPeriod != null">
        grm_period,
      </if>
      <if test="factoryDate != null">
        factory_date,
      </if>
      <if test="commissioningDate != null">
        commissioning_date,
      </if>
      <if test="warrantyStartDate != null">
        warranty_start_date,
      </if>
      <if test="warrantyEndDate != null">
        warranty_end_date,
      </if>
      <if test="maintenancePeriod != null">
        maintenance_period,
      </if>
      <if test="leftPosition != null">
        left_position,
      </if>
      <if test="topPosition != null">
        top_position,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="isOnline != null">
        is_online,
      </if>
      <if test="taskNumber != null">
        task_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCategoryId != null">
        #{equipmentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productLineId != null">
        #{productLineId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="output != null">
        #{output,jdbcType=VARCHAR},
      </if>
      <if test="dimension != null">
        #{dimension,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="collectStatus != null">
        #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="grm != null">
        #{grm,jdbcType=VARCHAR},
      </if>
      <if test="grmPassword != null">
        #{grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="factoryDate != null">
        #{factoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissioningDate != null">
        #{commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyStartDate != null">
        #{warrantyStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyEndDate != null">
        #{warrantyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenancePeriod != null">
        #{maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="leftPosition != null">
        #{leftPosition,jdbcType=DECIMAL},
      </if>
      <if test="topPosition != null">
        #{topPosition,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="isOnline != null">
        #{isOnline,jdbcType=BIT},
      </if>
      <if test="taskNumber != null">
        #{taskNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamEquipmentExample" resultType="java.lang.Long">
    select count(*) from eam_equipment eam_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_equipment eam_equipment
    <set>
      <if test="record.equipmentId != null">
        eam_equipment.equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentCategoryId != null">
        eam_equipment.equipment_category_id = #{record.equipmentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.productLineId != null">
        eam_equipment.product_line_id = #{record.productLineId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        eam_equipment.name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null">
        eam_equipment.number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null">
        eam_equipment.serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath != null">
        eam_equipment.image_path = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.output != null">
        eam_equipment.output = #{record.output,jdbcType=VARCHAR},
      </if>
      <if test="record.dimension != null">
        eam_equipment.dimension = #{record.dimension,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        eam_equipment.weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record.power != null">
        eam_equipment.power = #{record.power,jdbcType=VARCHAR},
      </if>
      <if test="record.capacity != null">
        eam_equipment.capacity = #{record.capacity,jdbcType=VARCHAR},
      </if>
      <if test="record.user != null">
        eam_equipment.user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.collectStatus != null">
        eam_equipment.collect_status = #{record.collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.grm != null">
        eam_equipment.grm = #{record.grm,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPassword != null">
        eam_equipment.grm_password = #{record.grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPeriod != null">
        eam_equipment.grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.factoryDate != null">
        eam_equipment.factory_date = #{record.factoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commissioningDate != null">
        eam_equipment.commissioning_date = #{record.commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warrantyStartDate != null">
        eam_equipment.warranty_start_date = #{record.warrantyStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warrantyEndDate != null">
        eam_equipment.warranty_end_date = #{record.warrantyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.maintenancePeriod != null">
        eam_equipment.maintenance_period = #{record.maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.leftPosition != null">
        eam_equipment.left_position = #{record.leftPosition,jdbcType=DECIMAL},
      </if>
      <if test="record.topPosition != null">
        eam_equipment.top_position = #{record.topPosition,jdbcType=DECIMAL},
      </if>
      <if test="record.createUserId != null">
        eam_equipment.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        eam_equipment.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        eam_equipment.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        eam_equipment.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        eam_equipment.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.isOnline != null">
        eam_equipment.is_online = #{record.isOnline,jdbcType=BIT},
      </if>
      <if test="record.taskNumber != null">
        eam_equipment.task_number = #{record.taskNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_equipment eam_equipment
    set eam_equipment.equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      eam_equipment.equipment_category_id = #{record.equipmentCategoryId,jdbcType=INTEGER},
      eam_equipment.product_line_id = #{record.productLineId,jdbcType=VARCHAR},
      eam_equipment.name = #{record.name,jdbcType=VARCHAR},
      eam_equipment.number = #{record.number,jdbcType=VARCHAR},
      eam_equipment.serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      eam_equipment.image_path = #{record.imagePath,jdbcType=VARCHAR},
      eam_equipment.output = #{record.output,jdbcType=VARCHAR},
      eam_equipment.dimension = #{record.dimension,jdbcType=VARCHAR},
      eam_equipment.weight = #{record.weight,jdbcType=VARCHAR},
      eam_equipment.power = #{record.power,jdbcType=VARCHAR},
      eam_equipment.capacity = #{record.capacity,jdbcType=VARCHAR},
      eam_equipment.user = #{record.user,jdbcType=VARCHAR},
      eam_equipment.collect_status = #{record.collectStatus,jdbcType=VARCHAR},
      eam_equipment.grm = #{record.grm,jdbcType=VARCHAR},
      eam_equipment.grm_password = #{record.grmPassword,jdbcType=VARCHAR},
      eam_equipment.grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      eam_equipment.factory_date = #{record.factoryDate,jdbcType=TIMESTAMP},
      eam_equipment.commissioning_date = #{record.commissioningDate,jdbcType=TIMESTAMP},
      eam_equipment.warranty_start_date = #{record.warrantyStartDate,jdbcType=TIMESTAMP},
      eam_equipment.warranty_end_date = #{record.warrantyEndDate,jdbcType=TIMESTAMP},
      eam_equipment.maintenance_period = #{record.maintenancePeriod,jdbcType=VARCHAR},
      eam_equipment.left_position = #{record.leftPosition,jdbcType=DECIMAL},
      eam_equipment.top_position = #{record.topPosition,jdbcType=DECIMAL},
      eam_equipment.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      eam_equipment.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      eam_equipment.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      eam_equipment.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      eam_equipment.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      eam_equipment.is_online = #{record.isOnline,jdbcType=BIT},
      eam_equipment.task_number = #{record.taskNumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    update eam_equipment
    <set>
      <if test="equipmentCategoryId != null">
        equipment_category_id = #{equipmentCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productLineId != null">
        product_line_id = #{productLineId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="output != null">
        output = #{output,jdbcType=VARCHAR},
      </if>
      <if test="dimension != null">
        dimension = #{dimension,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="collectStatus != null">
        collect_status = #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="grm != null">
        grm = #{grm,jdbcType=VARCHAR},
      </if>
      <if test="grmPassword != null">
        grm_password = #{grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        grm_period = #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="factoryDate != null">
        factory_date = #{factoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissioningDate != null">
        commissioning_date = #{commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyStartDate != null">
        warranty_start_date = #{warrantyStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyEndDate != null">
        warranty_end_date = #{warrantyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenancePeriod != null">
        maintenance_period = #{maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="leftPosition != null">
        left_position = #{leftPosition,jdbcType=DECIMAL},
      </if>
      <if test="topPosition != null">
        top_position = #{topPosition,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="isOnline != null">
        is_online = #{isOnline,jdbcType=BIT},
      </if>
      <if test="taskNumber != null">
        task_number = #{taskNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    update eam_equipment
    set equipment_category_id = #{equipmentCategoryId,jdbcType=INTEGER},
      product_line_id = #{productLineId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      output = #{output,jdbcType=VARCHAR},
      dimension = #{dimension,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      collect_status = #{collectStatus,jdbcType=VARCHAR},
      grm = #{grm,jdbcType=VARCHAR},
      grm_password = #{grmPassword,jdbcType=VARCHAR},
      grm_period = #{grmPeriod,jdbcType=INTEGER},
      factory_date = #{factoryDate,jdbcType=TIMESTAMP},
      commissioning_date = #{commissioningDate,jdbcType=TIMESTAMP},
      warranty_start_date = #{warrantyStartDate,jdbcType=TIMESTAMP},
      warranty_end_date = #{warrantyEndDate,jdbcType=TIMESTAMP},
      maintenance_period = #{maintenancePeriod,jdbcType=VARCHAR},
      left_position = #{leftPosition,jdbcType=DECIMAL},
      top_position = #{topPosition,jdbcType=DECIMAL},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      is_online = #{isOnline,jdbcType=BIT},
      task_number = #{taskNumber,jdbcType=VARCHAR}
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into eam_equipment  (equipment_id, equipment_category_id, 
        product_line_id, name, number, 
        serial_number, image_path, output, 
        dimension, weight, power, 
        capacity, user, collect_status, 
        grm, grm_password, grm_period, 
        factory_date, commissioning_date, warranty_start_date, 
        warranty_end_date, maintenance_period, left_position, 
        top_position, create_user_id, create_time, 
        update_user_id, update_time, delete_flag, 
        is_online, task_number)
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.equipmentId,jdbcType=VARCHAR}, #{item.equipmentCategoryId,jdbcType=INTEGER}, 
        #{item.productLineId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.number,jdbcType=VARCHAR}, 
        #{item.serialNumber,jdbcType=VARCHAR}, #{item.imagePath,jdbcType=VARCHAR}, #{item.output,jdbcType=VARCHAR}, 
        #{item.dimension,jdbcType=VARCHAR}, #{item.weight,jdbcType=VARCHAR}, #{item.power,jdbcType=VARCHAR}, 
        #{item.capacity,jdbcType=VARCHAR}, #{item.user,jdbcType=VARCHAR}, #{item.collectStatus,jdbcType=VARCHAR}, 
        #{item.grm,jdbcType=VARCHAR}, #{item.grmPassword,jdbcType=VARCHAR}, #{item.grmPeriod,jdbcType=INTEGER}, 
        #{item.factoryDate,jdbcType=TIMESTAMP}, #{item.commissioningDate,jdbcType=TIMESTAMP}, #{item.warrantyStartDate,jdbcType=TIMESTAMP}, 
        #{item.warrantyEndDate,jdbcType=TIMESTAMP}, #{item.maintenancePeriod,jdbcType=VARCHAR}, #{item.leftPosition,jdbcType=DECIMAL}, 
        #{item.topPosition,jdbcType=DECIMAL}, #{item.createUserId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateUserId,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.deleteFlag,jdbcType=BIT}, 
        #{item.isOnline,jdbcType=BIT}, #{item.taskNumber,jdbcType=VARCHAR})
      </foreach>
    </if>
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>