<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamEquipment">
    <id column="equipment_id" jdbcType="VARCHAR" property="equipmentId" />
    <result column="equipment_model_id" jdbcType="INTEGER" property="equipmentModelId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="collect_status" jdbcType="VARCHAR" property="collectStatus" />
    <result column="heart_data" jdbcType="VARCHAR" property="heartData" />
    <result column="grm" jdbcType="VARCHAR" property="grm" />
    <result column="grm_password" jdbcType="VARCHAR" property="grmPassword" />
    <result column="grm_period" jdbcType="INTEGER" property="grmPeriod" />
    <result column="factory_date" jdbcType="TIMESTAMP" property="factoryDate" />
    <result column="commissioning_date" jdbcType="TIMESTAMP" property="commissioningDate" />
    <result column="warranty_start_date" jdbcType="TIMESTAMP" property="warrantyStartDate" />
    <result column="warranty_end_date" jdbcType="TIMESTAMP" property="warrantyEndDate" />
    <result column="maintenance_period" jdbcType="VARCHAR" property="maintenancePeriod" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="is_online" jdbcType="BIT" property="isOnline" />
    <result column="modbus_rtu_period" jdbcType="INTEGER" property="modbusRtuPeriod" />
    <result column="salve_id" jdbcType="INTEGER" property="salveId" />
    <result column="equipment_category_id" jdbcType="INTEGER" property="equipmentCategoryId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    equipment_id, equipment_model_id, name, number, serial_number, image_path, longitude, 
    latitude, province, city, user, collect_status, heart_data, grm, grm_password, grm_period, 
    factory_date, commissioning_date, warranty_start_date, warranty_end_date, maintenance_period, 
    create_user_id, create_time, update_user_id, update_time, delete_flag, is_online, 
    modbus_rtu_period, salve_id, equipment_category_id
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamEquipmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_equipment
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update eam_equipment set delete_flag = 1 
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamEquipmentExample">
    update eam_equipment set delete_flag = 1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    insert into eam_equipment (equipment_id, equipment_model_id, name, 
      number, serial_number, image_path, 
      longitude, latitude, province, 
      city, user, collect_status, 
      heart_data, grm, grm_password, 
      grm_period, factory_date, commissioning_date, 
      warranty_start_date, warranty_end_date, 
      maintenance_period, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      is_online, modbus_rtu_period, salve_id, 
      equipment_category_id)
    values (#{equipmentId,jdbcType=VARCHAR}, #{equipmentModelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, #{collectStatus,jdbcType=VARCHAR}, 
      #{heartData,jdbcType=VARCHAR}, #{grm,jdbcType=VARCHAR}, #{grmPassword,jdbcType=VARCHAR}, 
      #{grmPeriod,jdbcType=INTEGER}, #{factoryDate,jdbcType=TIMESTAMP}, #{commissioningDate,jdbcType=TIMESTAMP}, 
      #{warrantyStartDate,jdbcType=TIMESTAMP}, #{warrantyEndDate,jdbcType=TIMESTAMP}, 
      #{maintenancePeriod,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{isOnline,jdbcType=BIT}, #{modbusRtuPeriod,jdbcType=INTEGER}, #{salveId,jdbcType=INTEGER}, 
      #{equipmentCategoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    insert into eam_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equipmentModelId != null">
        equipment_model_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="collectStatus != null">
        collect_status,
      </if>
      <if test="heartData != null">
        heart_data,
      </if>
      <if test="grm != null">
        grm,
      </if>
      <if test="grmPassword != null">
        grm_password,
      </if>
      <if test="grmPeriod != null">
        grm_period,
      </if>
      <if test="factoryDate != null">
        factory_date,
      </if>
      <if test="commissioningDate != null">
        commissioning_date,
      </if>
      <if test="warrantyStartDate != null">
        warranty_start_date,
      </if>
      <if test="warrantyEndDate != null">
        warranty_end_date,
      </if>
      <if test="maintenancePeriod != null">
        maintenance_period,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="isOnline != null">
        is_online,
      </if>
      <if test="modbusRtuPeriod != null">
        modbus_rtu_period,
      </if>
      <if test="salveId != null">
        salve_id,
      </if>
      <if test="equipmentCategoryId != null">
        equipment_category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModelId != null">
        #{equipmentModelId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="collectStatus != null">
        #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="heartData != null">
        #{heartData,jdbcType=VARCHAR},
      </if>
      <if test="grm != null">
        #{grm,jdbcType=VARCHAR},
      </if>
      <if test="grmPassword != null">
        #{grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="factoryDate != null">
        #{factoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissioningDate != null">
        #{commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyStartDate != null">
        #{warrantyStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyEndDate != null">
        #{warrantyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenancePeriod != null">
        #{maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="isOnline != null">
        #{isOnline,jdbcType=BIT},
      </if>
      <if test="modbusRtuPeriod != null">
        #{modbusRtuPeriod,jdbcType=INTEGER},
      </if>
      <if test="salveId != null">
        #{salveId,jdbcType=INTEGER},
      </if>
      <if test="equipmentCategoryId != null">
        #{equipmentCategoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamEquipmentExample" resultType="java.lang.Long">
    select count(*) from eam_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_equipment
    <set>
      <if test="record.equipmentId != null">
        equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.equipmentModelId != null">
        equipment_model_id = #{record.equipmentModelId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null">
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath != null">
        image_path = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.user != null">
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.collectStatus != null">
        collect_status = #{record.collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.heartData != null">
        heart_data = #{record.heartData,jdbcType=VARCHAR},
      </if>
      <if test="record.grm != null">
        grm = #{record.grm,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPassword != null">
        grm_password = #{record.grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPeriod != null">
        grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.factoryDate != null">
        factory_date = #{record.factoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commissioningDate != null">
        commissioning_date = #{record.commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warrantyStartDate != null">
        warranty_start_date = #{record.warrantyStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warrantyEndDate != null">
        warranty_end_date = #{record.warrantyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.maintenancePeriod != null">
        maintenance_period = #{record.maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.isOnline != null">
        is_online = #{record.isOnline,jdbcType=BIT},
      </if>
      <if test="record.modbusRtuPeriod != null">
        modbus_rtu_period = #{record.modbusRtuPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.salveId != null">
        salve_id = #{record.salveId,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentCategoryId != null">
        equipment_category_id = #{record.equipmentCategoryId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_equipment
    set equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      equipment_model_id = #{record.equipmentModelId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=VARCHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      image_path = #{record.imagePath,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      user = #{record.user,jdbcType=VARCHAR},
      collect_status = #{record.collectStatus,jdbcType=VARCHAR},
      heart_data = #{record.heartData,jdbcType=VARCHAR},
      grm = #{record.grm,jdbcType=VARCHAR},
      grm_password = #{record.grmPassword,jdbcType=VARCHAR},
      grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      factory_date = #{record.factoryDate,jdbcType=TIMESTAMP},
      commissioning_date = #{record.commissioningDate,jdbcType=TIMESTAMP},
      warranty_start_date = #{record.warrantyStartDate,jdbcType=TIMESTAMP},
      warranty_end_date = #{record.warrantyEndDate,jdbcType=TIMESTAMP},
      maintenance_period = #{record.maintenancePeriod,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      is_online = #{record.isOnline,jdbcType=BIT},
      modbus_rtu_period = #{record.modbusRtuPeriod,jdbcType=INTEGER},
      salve_id = #{record.salveId,jdbcType=INTEGER},
      equipment_category_id = #{record.equipmentCategoryId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    update eam_equipment
    <set>
      <if test="equipmentModelId != null">
        equipment_model_id = #{equipmentModelId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="collectStatus != null">
        collect_status = #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="heartData != null">
        heart_data = #{heartData,jdbcType=VARCHAR},
      </if>
      <if test="grm != null">
        grm = #{grm,jdbcType=VARCHAR},
      </if>
      <if test="grmPassword != null">
        grm_password = #{grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        grm_period = #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="factoryDate != null">
        factory_date = #{factoryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commissioningDate != null">
        commissioning_date = #{commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyStartDate != null">
        warranty_start_date = #{warrantyStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warrantyEndDate != null">
        warranty_end_date = #{warrantyEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenancePeriod != null">
        maintenance_period = #{maintenancePeriod,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="isOnline != null">
        is_online = #{isOnline,jdbcType=BIT},
      </if>
      <if test="modbusRtuPeriod != null">
        modbus_rtu_period = #{modbusRtuPeriod,jdbcType=INTEGER},
      </if>
      <if test="salveId != null">
        salve_id = #{salveId,jdbcType=INTEGER},
      </if>
      <if test="equipmentCategoryId != null">
        equipment_category_id = #{equipmentCategoryId,jdbcType=INTEGER},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamEquipment">
    update eam_equipment
    set equipment_model_id = #{equipmentModelId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      collect_status = #{collectStatus,jdbcType=VARCHAR},
      heart_data = #{heartData,jdbcType=VARCHAR},
      grm = #{grm,jdbcType=VARCHAR},
      grm_password = #{grmPassword,jdbcType=VARCHAR},
      grm_period = #{grmPeriod,jdbcType=INTEGER},
      factory_date = #{factoryDate,jdbcType=TIMESTAMP},
      commissioning_date = #{commissioningDate,jdbcType=TIMESTAMP},
      warranty_start_date = #{warrantyStartDate,jdbcType=TIMESTAMP},
      warranty_end_date = #{warrantyEndDate,jdbcType=TIMESTAMP},
      maintenance_period = #{maintenancePeriod,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      is_online = #{isOnline,jdbcType=BIT},
      modbus_rtu_period = #{modbusRtuPeriod,jdbcType=INTEGER},
      salve_id = #{salveId,jdbcType=INTEGER},
      equipment_category_id = #{equipmentCategoryId,jdbcType=INTEGER}
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into eam_equipment  (equipment_id, equipment_model_id, name, 
        number, serial_number, image_path, 
        longitude, latitude, province, 
        city, user, collect_status, 
        heart_data, grm, grm_password, 
        grm_period, factory_date, commissioning_date, 
        warranty_start_date, warranty_end_date, 
        maintenance_period, create_user_id, create_time, 
        update_user_id, update_time, delete_flag, 
        is_online, modbus_rtu_period, salve_id, 
        equipment_category_id)
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.equipmentId,jdbcType=VARCHAR}, #{item.equipmentModelId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, 
        #{item.number,jdbcType=VARCHAR}, #{item.serialNumber,jdbcType=VARCHAR}, #{item.imagePath,jdbcType=VARCHAR}, 
        #{item.longitude,jdbcType=DECIMAL}, #{item.latitude,jdbcType=DECIMAL}, #{item.province,jdbcType=VARCHAR}, 
        #{item.city,jdbcType=VARCHAR}, #{item.user,jdbcType=VARCHAR}, #{item.collectStatus,jdbcType=VARCHAR}, 
        #{item.heartData,jdbcType=VARCHAR}, #{item.grm,jdbcType=VARCHAR}, #{item.grmPassword,jdbcType=VARCHAR}, 
        #{item.grmPeriod,jdbcType=INTEGER}, #{item.factoryDate,jdbcType=TIMESTAMP}, #{item.commissioningDate,jdbcType=TIMESTAMP}, 
        #{item.warrantyStartDate,jdbcType=TIMESTAMP}, #{item.warrantyEndDate,jdbcType=TIMESTAMP}, 
        #{item.maintenancePeriod,jdbcType=VARCHAR}, #{item.createUserId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateUserId,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.deleteFlag,jdbcType=BIT}, 
        #{item.isOnline,jdbcType=BIT}, #{item.modbusRtuPeriod,jdbcType=INTEGER}, #{item.salveId,jdbcType=INTEGER}, 
        #{item.equipmentCategoryId,jdbcType=INTEGER})
      </foreach>
    </if>
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>