<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamGrmVariableMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamGrmVariable">
    <id column="eam_grm_variable_id" jdbcType="INTEGER" property="id" />
    <result column="eam_grm_variable_equipment_id" jdbcType="VARCHAR" property="equipmentId" />
    <result column="eam_grm_variable_product_line_id" jdbcType="VARCHAR" property="productLineId" />
    <result column="eam_grm_variable_data_element_id" jdbcType="INTEGER" property="dataElementId" />
    <result column="eam_grm_variable_name" jdbcType="VARCHAR" property="name" />
    <result column="eam_grm_variable_type" jdbcType="VARCHAR" property="type" />
    <result column="eam_grm_variable_attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="eam_grm_variable_network_permisstion" jdbcType="VARCHAR" property="networkPermisstion" />
    <result column="eam_grm_variable_group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="eam_grm_variable_description" jdbcType="VARCHAR" property="description" />
    <result column="eam_grm_variable_grm_period" jdbcType="INTEGER" property="grmPeriod" />
    <result column="eam_grm_variable_create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="eam_grm_variable_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eam_grm_variable_update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="eam_grm_variable_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="eam_grm_variable_delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    eam_grm_variable.id as eam_grm_variable_id, eam_grm_variable.equipment_id as eam_grm_variable_equipment_id, 
    eam_grm_variable.product_line_id as eam_grm_variable_product_line_id, eam_grm_variable.data_element_id as eam_grm_variable_data_element_id, 
    eam_grm_variable.name as eam_grm_variable_name, eam_grm_variable.type as eam_grm_variable_type, 
    eam_grm_variable.attribute as eam_grm_variable_attribute, eam_grm_variable.network_permisstion as eam_grm_variable_network_permisstion, 
    eam_grm_variable.group_name as eam_grm_variable_group_name, eam_grm_variable.description as eam_grm_variable_description, 
    eam_grm_variable.grm_period as eam_grm_variable_grm_period, eam_grm_variable.create_user_id as eam_grm_variable_create_user_id, 
    eam_grm_variable.create_time as eam_grm_variable_create_time, eam_grm_variable.update_user_id as eam_grm_variable_update_user_id, 
    eam_grm_variable.update_time as eam_grm_variable_update_time, eam_grm_variable.delete_flag as eam_grm_variable_delete_flag
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamGrmVariableExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_grm_variable eam_grm_variable
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_grm_variable eam_grm_variable
    where eam_grm_variable.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update eam_grm_variable eam_grm_variable set delete_flag = 1 
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamGrmVariableExample">
    update eam_grm_variable eam_grm_variable set delete_flag = 1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamGrmVariable">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into eam_grm_variable (equipment_id, product_line_id, data_element_id, 
      name, type, attribute, 
      network_permisstion, group_name, description, 
      grm_period, create_user_id, create_time, 
      update_user_id, update_time, delete_flag
      )
    values (#{equipmentId,jdbcType=VARCHAR}, #{productLineId,jdbcType=VARCHAR}, #{dataElementId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{networkPermisstion,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{grmPeriod,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamGrmVariable">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into eam_grm_variable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="productLineId != null">
        product_line_id,
      </if>
      <if test="dataElementId != null">
        data_element_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="networkPermisstion != null">
        network_permisstion,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="grmPeriod != null">
        grm_period,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="productLineId != null">
        #{productLineId,jdbcType=VARCHAR},
      </if>
      <if test="dataElementId != null">
        #{dataElementId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="networkPermisstion != null">
        #{networkPermisstion,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamGrmVariableExample" resultType="java.lang.Long">
    select count(*) from eam_grm_variable eam_grm_variable
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_grm_variable eam_grm_variable
    <set>
      <if test="record.id != null">
        eam_grm_variable.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentId != null">
        eam_grm_variable.equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.productLineId != null">
        eam_grm_variable.product_line_id = #{record.productLineId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataElementId != null">
        eam_grm_variable.data_element_id = #{record.dataElementId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        eam_grm_variable.name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        eam_grm_variable.type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute != null">
        eam_grm_variable.attribute = #{record.attribute,jdbcType=VARCHAR},
      </if>
      <if test="record.networkPermisstion != null">
        eam_grm_variable.network_permisstion = #{record.networkPermisstion,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null">
        eam_grm_variable.group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        eam_grm_variable.description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPeriod != null">
        eam_grm_variable.grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null">
        eam_grm_variable.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        eam_grm_variable.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        eam_grm_variable.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        eam_grm_variable.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        eam_grm_variable.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_grm_variable eam_grm_variable
    set eam_grm_variable.id = #{record.id,jdbcType=INTEGER},
      eam_grm_variable.equipment_id = #{record.equipmentId,jdbcType=VARCHAR},
      eam_grm_variable.product_line_id = #{record.productLineId,jdbcType=VARCHAR},
      eam_grm_variable.data_element_id = #{record.dataElementId,jdbcType=INTEGER},
      eam_grm_variable.name = #{record.name,jdbcType=VARCHAR},
      eam_grm_variable.type = #{record.type,jdbcType=VARCHAR},
      eam_grm_variable.attribute = #{record.attribute,jdbcType=VARCHAR},
      eam_grm_variable.network_permisstion = #{record.networkPermisstion,jdbcType=VARCHAR},
      eam_grm_variable.group_name = #{record.groupName,jdbcType=VARCHAR},
      eam_grm_variable.description = #{record.description,jdbcType=VARCHAR},
      eam_grm_variable.grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      eam_grm_variable.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      eam_grm_variable.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      eam_grm_variable.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      eam_grm_variable.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      eam_grm_variable.delete_flag = #{record.deleteFlag,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamGrmVariable">
    update eam_grm_variable
    <set>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="productLineId != null">
        product_line_id = #{productLineId,jdbcType=VARCHAR},
      </if>
      <if test="dataElementId != null">
        data_element_id = #{dataElementId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="networkPermisstion != null">
        network_permisstion = #{networkPermisstion,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        grm_period = #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamGrmVariable">
    update eam_grm_variable
    set equipment_id = #{equipmentId,jdbcType=VARCHAR},
      product_line_id = #{productLineId,jdbcType=VARCHAR},
      data_element_id = #{dataElementId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=VARCHAR},
      network_permisstion = #{networkPermisstion,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      grm_period = #{grmPeriod,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into eam_grm_variable  (equipment_id, product_line_id, data_element_id, 
        name, type, attribute, 
        network_permisstion, group_name, description, 
        grm_period, create_user_id, create_time, 
        update_user_id, update_time, delete_flag
        )
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.equipmentId,jdbcType=VARCHAR}, #{item.productLineId,jdbcType=VARCHAR}, #{item.dataElementId,jdbcType=INTEGER}, 
        #{item.name,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}, #{item.attribute,jdbcType=VARCHAR}, 
        #{item.networkPermisstion,jdbcType=VARCHAR}, #{item.groupName,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, 
        #{item.grmPeriod,jdbcType=INTEGER}, #{item.createUserId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateUserId,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.deleteFlag,jdbcType=BIT}
        )
      </foreach>
    </if>
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>