<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamProductLineMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamProductLine">
    <id column="product_line_id" jdbcType="VARCHAR" property="productLineId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="grm" jdbcType="VARCHAR" property="grm" />
    <result column="grm_password" jdbcType="VARCHAR" property="grmPassword" />
    <result column="grm_period" jdbcType="INTEGER" property="grmPeriod" />
    <result column="collect_status" jdbcType="VARCHAR" property="collectStatus" />
    <result column="is_online" jdbcType="BIT" property="isOnline" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    product_line_id, name, image_path, grm, grm_password, grm_period, collect_status, 
    is_online, create_user_id, create_time, update_user_id, update_time, delete_flag
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamProductLineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_product_line
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_product_line
    where product_line_id = #{productLineId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update eam_product_line set delete_flag = 1 
    where product_line_id = #{productLineId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamProductLineExample">
    update eam_product_line set delete_flag = 1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamProductLine">
    insert into eam_product_line (product_line_id, name, image_path, 
      grm, grm_password, grm_period, 
      collect_status, is_online, create_user_id, 
      create_time, update_user_id, update_time, 
      delete_flag)
    values (#{productLineId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, 
      #{grm,jdbcType=VARCHAR}, #{grmPassword,jdbcType=VARCHAR}, #{grmPeriod,jdbcType=INTEGER}, 
      #{collectStatus,jdbcType=VARCHAR}, #{isOnline,jdbcType=BIT}, #{createUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamProductLine">
    insert into eam_product_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productLineId != null">
        product_line_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="grm != null">
        grm,
      </if>
      <if test="grmPassword != null">
        grm_password,
      </if>
      <if test="grmPeriod != null">
        grm_period,
      </if>
      <if test="collectStatus != null">
        collect_status,
      </if>
      <if test="isOnline != null">
        is_online,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productLineId != null">
        #{productLineId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="grm != null">
        #{grm,jdbcType=VARCHAR},
      </if>
      <if test="grmPassword != null">
        #{grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="collectStatus != null">
        #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null">
        #{isOnline,jdbcType=BIT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamProductLineExample" resultType="java.lang.Long">
    select count(*) from eam_product_line
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_product_line
    <set>
      <if test="record.productLineId != null">
        product_line_id = #{record.productLineId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath != null">
        image_path = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.grm != null">
        grm = #{record.grm,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPassword != null">
        grm_password = #{record.grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.grmPeriod != null">
        grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.collectStatus != null">
        collect_status = #{record.collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isOnline != null">
        is_online = #{record.isOnline,jdbcType=BIT},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_product_line
    set product_line_id = #{record.productLineId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      image_path = #{record.imagePath,jdbcType=VARCHAR},
      grm = #{record.grm,jdbcType=VARCHAR},
      grm_password = #{record.grmPassword,jdbcType=VARCHAR},
      grm_period = #{record.grmPeriod,jdbcType=INTEGER},
      collect_status = #{record.collectStatus,jdbcType=VARCHAR},
      is_online = #{record.isOnline,jdbcType=BIT},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamProductLine">
    update eam_product_line
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="grm != null">
        grm = #{grm,jdbcType=VARCHAR},
      </if>
      <if test="grmPassword != null">
        grm_password = #{grmPassword,jdbcType=VARCHAR},
      </if>
      <if test="grmPeriod != null">
        grm_period = #{grmPeriod,jdbcType=INTEGER},
      </if>
      <if test="collectStatus != null">
        collect_status = #{collectStatus,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null">
        is_online = #{isOnline,jdbcType=BIT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where product_line_id = #{productLineId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamProductLine">
    update eam_product_line
    set name = #{name,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      grm = #{grm,jdbcType=VARCHAR},
      grm_password = #{grmPassword,jdbcType=VARCHAR},
      grm_period = #{grmPeriod,jdbcType=INTEGER},
      collect_status = #{collectStatus,jdbcType=VARCHAR},
      is_online = #{isOnline,jdbcType=BIT},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where product_line_id = #{productLineId,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into eam_product_line  (product_line_id, name, image_path, 
        grm, grm_password, grm_period, 
        collect_status, is_online, create_user_id, 
        create_time, update_user_id, update_time, 
        delete_flag)
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.productLineId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.imagePath,jdbcType=VARCHAR}, 
        #{item.grm,jdbcType=VARCHAR}, #{item.grmPassword,jdbcType=VARCHAR}, #{item.grmPeriod,jdbcType=INTEGER}, 
        #{item.collectStatus,jdbcType=VARCHAR}, #{item.isOnline,jdbcType=BIT}, #{item.createUserId,jdbcType=INTEGER}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.deleteFlag,jdbcType=BIT})
      </foreach>
    </if>
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>