<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamTicketRecordMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamTicketRecord">
    <id column="eam_ticket_record_id" jdbcType="INTEGER" property="id" />
    <result column="eam_ticket_record_ticket_id" jdbcType="INTEGER" property="ticketId" />
    <result column="eam_ticket_record_step" jdbcType="VARCHAR" property="step" />
    <result column="eam_ticket_record_comments" jdbcType="VARCHAR" property="comments" />
    <result column="eam_ticket_record_create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="eam_ticket_record_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eam_ticket_record_update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="eam_ticket_record_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="eam_ticket_record_delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="eam_ticket_record_company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    eam_ticket_record.id as eam_ticket_record_id, eam_ticket_record.ticket_id as eam_ticket_record_ticket_id, 
    eam_ticket_record.step as eam_ticket_record_step, eam_ticket_record.comments as eam_ticket_record_comments, 
    eam_ticket_record.create_user_id as eam_ticket_record_create_user_id, eam_ticket_record.create_time as eam_ticket_record_create_time, 
    eam_ticket_record.update_user_id as eam_ticket_record_update_user_id, eam_ticket_record.update_time as eam_ticket_record_update_time, 
    eam_ticket_record.delete_flag as eam_ticket_record_delete_flag, eam_ticket_record.company_id as eam_ticket_record_company_id
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamTicketRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_ticket_record eam_ticket_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_ticket_record eam_ticket_record
    where eam_ticket_record.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update eam_ticket_record eam_ticket_record set delete_flag = 1 
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamTicketRecordExample">
    update eam_ticket_record eam_ticket_record set delete_flag = 1 
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamTicketRecord">
    insert into eam_ticket_record (id, ticket_id, step, 
      comments, create_user_id, create_time, 
      update_user_id, update_time, delete_flag, 
      company_id)
    values (#{id,jdbcType=INTEGER}, #{ticketId,jdbcType=INTEGER}, #{step,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, 
      #{companyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamTicketRecord">
    insert into eam_ticket_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ticketId != null">
        ticket_id,
      </if>
      <if test="step != null">
        step,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ticketId != null">
        #{ticketId,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        #{step,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamTicketRecordExample" resultType="java.lang.Long">
    select count(*) from eam_ticket_record eam_ticket_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_ticket_record eam_ticket_record
    <set>
      <if test="record.id != null">
        eam_ticket_record.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ticketId != null">
        eam_ticket_record.ticket_id = #{record.ticketId,jdbcType=INTEGER},
      </if>
      <if test="record.step != null">
        eam_ticket_record.step = #{record.step,jdbcType=VARCHAR},
      </if>
      <if test="record.comments != null">
        eam_ticket_record.comments = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null">
        eam_ticket_record.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        eam_ticket_record.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        eam_ticket_record.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        eam_ticket_record.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        eam_ticket_record.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.companyId != null">
        eam_ticket_record.company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_ticket_record eam_ticket_record
    set eam_ticket_record.id = #{record.id,jdbcType=INTEGER},
      eam_ticket_record.ticket_id = #{record.ticketId,jdbcType=INTEGER},
      eam_ticket_record.step = #{record.step,jdbcType=VARCHAR},
      eam_ticket_record.comments = #{record.comments,jdbcType=VARCHAR},
      eam_ticket_record.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      eam_ticket_record.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      eam_ticket_record.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      eam_ticket_record.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      eam_ticket_record.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      eam_ticket_record.company_id = #{record.companyId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamTicketRecord">
    update eam_ticket_record
    <set>
      <if test="ticketId != null">
        ticket_id = #{ticketId,jdbcType=INTEGER},
      </if>
      <if test="step != null">
        step = #{step,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamTicketRecord">
    update eam_ticket_record
    set ticket_id = #{ticketId,jdbcType=INTEGER},
      step = #{step,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      company_id = #{companyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into eam_ticket_record  (id, ticket_id, step, 
        comments, create_user_id, create_time, 
        update_user_id, update_time, delete_flag, 
        company_id)
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.ticketId,jdbcType=INTEGER}, #{item.step,jdbcType=VARCHAR}, 
        #{item.comments,jdbcType=VARCHAR}, #{item.createUserId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateUserId,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.deleteFlag,jdbcType=BIT}, 
        #{item.companyId,jdbcType=INTEGER})
      </foreach>
    </if>
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>