<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.dao.mapper.EamTicketMapper">
  <resultMap id="BaseResultMap" type="com.kuyun.eam.dao.model.EamTicket">
    <id column="eam_ticket_ticket_id" jdbcType="INTEGER" property="ticketId" />
    <result column="eam_ticket_ticket_type_id" jdbcType="INTEGER" property="ticketTypeId" />
    <result column="eam_ticket_description" jdbcType="VARCHAR" property="description" />
    <result column="eam_ticket_image_path_1" jdbcType="VARCHAR" property="imagePath1" />
    <result column="eam_ticket_image_path_2" jdbcType="VARCHAR" property="imagePath2" />
    <result column="eam_ticket_image_path_3" jdbcType="VARCHAR" property="imagePath3" />
    <result column="eam_ticket_image_path_4" jdbcType="VARCHAR" property="imagePath4" />
    <result column="eam_ticket_priority" jdbcType="VARCHAR" property="priority" />
    <result column="eam_ticket_executor_id" jdbcType="INTEGER" property="executorId" />
    <result column="eam_ticket_status" jdbcType="VARCHAR" property="status" />
    <result column="eam_ticket_end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="eam_ticket_create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="eam_ticket_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="eam_ticket_update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="eam_ticket_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="eam_ticket_delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="eam_ticket_organization_id" jdbcType="INTEGER" property="organizationId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    eam_ticket.ticket_id as eam_ticket_ticket_id, eam_ticket.ticket_type_id as eam_ticket_ticket_type_id, 
    eam_ticket.description as eam_ticket_description, eam_ticket.image_path_1 as eam_ticket_image_path_1, 
    eam_ticket.image_path_2 as eam_ticket_image_path_2, eam_ticket.image_path_3 as eam_ticket_image_path_3, 
    eam_ticket.image_path_4 as eam_ticket_image_path_4, eam_ticket.priority as eam_ticket_priority, 
    eam_ticket.executor_id as eam_ticket_executor_id, eam_ticket.status as eam_ticket_status, 
    eam_ticket.end_date as eam_ticket_end_date, eam_ticket.create_user_id as eam_ticket_create_user_id, 
    eam_ticket.create_time as eam_ticket_create_time, eam_ticket.update_user_id as eam_ticket_update_user_id, 
    eam_ticket.update_time as eam_ticket_update_time, eam_ticket.delete_flag as eam_ticket_delete_flag, 
    eam_ticket.organization_id as eam_ticket_organization_id
  </sql>
  <select id="selectByExample" parameterType="com.kuyun.eam.dao.model.EamTicketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eam_ticket eam_ticket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eam_ticket eam_ticket
    where eam_ticket.ticket_id = #{ticketId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eam_ticket
    where ticket_id = #{ticketId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuyun.eam.dao.model.EamTicketExample">
    delete from eam_ticket eam_ticket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuyun.eam.dao.model.EamTicket">
    insert into eam_ticket (ticket_id, ticket_type_id, description, 
      image_path_1, image_path_2, image_path_3, 
      image_path_4, priority, executor_id, 
      status, end_date, create_user_id, 
      create_time, update_user_id, update_time, 
      delete_flag, organization_id)
    values (#{ticketId,jdbcType=INTEGER}, #{ticketTypeId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{imagePath1,jdbcType=VARCHAR}, #{imagePath2,jdbcType=VARCHAR}, #{imagePath3,jdbcType=VARCHAR}, 
      #{imagePath4,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR}, #{executorId,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{endDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=BIT}, #{organizationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kuyun.eam.dao.model.EamTicket">
    insert into eam_ticket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        ticket_id,
      </if>
      <if test="ticketTypeId != null">
        ticket_type_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="imagePath1 != null">
        image_path_1,
      </if>
      <if test="imagePath2 != null">
        image_path_2,
      </if>
      <if test="imagePath3 != null">
        image_path_3,
      </if>
      <if test="imagePath4 != null">
        image_path_4,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="executorId != null">
        executor_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ticketId != null">
        #{ticketId,jdbcType=INTEGER},
      </if>
      <if test="ticketTypeId != null">
        #{ticketTypeId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imagePath1 != null">
        #{imagePath1,jdbcType=VARCHAR},
      </if>
      <if test="imagePath2 != null">
        #{imagePath2,jdbcType=VARCHAR},
      </if>
      <if test="imagePath3 != null">
        #{imagePath3,jdbcType=VARCHAR},
      </if>
      <if test="imagePath4 != null">
        #{imagePath4,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="executorId != null">
        #{executorId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuyun.eam.dao.model.EamTicketExample" resultType="java.lang.Long">
    select count(*) from eam_ticket eam_ticket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eam_ticket eam_ticket
    <set>
      <if test="record.ticketId != null">
        eam_ticket.ticket_id = #{record.ticketId,jdbcType=INTEGER},
      </if>
      <if test="record.ticketTypeId != null">
        eam_ticket.ticket_type_id = #{record.ticketTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        eam_ticket.description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath1 != null">
        eam_ticket.image_path_1 = #{record.imagePath1,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath2 != null">
        eam_ticket.image_path_2 = #{record.imagePath2,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath3 != null">
        eam_ticket.image_path_3 = #{record.imagePath3,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath4 != null">
        eam_ticket.image_path_4 = #{record.imagePath4,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null">
        eam_ticket.priority = #{record.priority,jdbcType=VARCHAR},
      </if>
      <if test="record.executorId != null">
        eam_ticket.executor_id = #{record.executorId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        eam_ticket.status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null">
        eam_ticket.end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        eam_ticket.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        eam_ticket.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        eam_ticket.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        eam_ticket.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        eam_ticket.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.organizationId != null">
        eam_ticket.organization_id = #{record.organizationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eam_ticket eam_ticket
    set eam_ticket.ticket_id = #{record.ticketId,jdbcType=INTEGER},
      eam_ticket.ticket_type_id = #{record.ticketTypeId,jdbcType=INTEGER},
      eam_ticket.description = #{record.description,jdbcType=VARCHAR},
      eam_ticket.image_path_1 = #{record.imagePath1,jdbcType=VARCHAR},
      eam_ticket.image_path_2 = #{record.imagePath2,jdbcType=VARCHAR},
      eam_ticket.image_path_3 = #{record.imagePath3,jdbcType=VARCHAR},
      eam_ticket.image_path_4 = #{record.imagePath4,jdbcType=VARCHAR},
      eam_ticket.priority = #{record.priority,jdbcType=VARCHAR},
      eam_ticket.executor_id = #{record.executorId,jdbcType=INTEGER},
      eam_ticket.status = #{record.status,jdbcType=VARCHAR},
      eam_ticket.end_date = #{record.endDate,jdbcType=TIMESTAMP},
      eam_ticket.create_user_id = #{record.createUserId,jdbcType=INTEGER},
      eam_ticket.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      eam_ticket.update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      eam_ticket.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      eam_ticket.delete_flag = #{record.deleteFlag,jdbcType=BIT},
      eam_ticket.organization_id = #{record.organizationId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuyun.eam.dao.model.EamTicket">
    update eam_ticket
    <set>
      <if test="ticketTypeId != null">
        ticket_type_id = #{ticketTypeId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imagePath1 != null">
        image_path_1 = #{imagePath1,jdbcType=VARCHAR},
      </if>
      <if test="imagePath2 != null">
        image_path_2 = #{imagePath2,jdbcType=VARCHAR},
      </if>
      <if test="imagePath3 != null">
        image_path_3 = #{imagePath3,jdbcType=VARCHAR},
      </if>
      <if test="imagePath4 != null">
        image_path_4 = #{imagePath4,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="executorId != null">
        executor_id = #{executorId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
    </set>
    where ticket_id = #{ticketId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuyun.eam.dao.model.EamTicket">
    update eam_ticket
    set ticket_type_id = #{ticketTypeId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      image_path_1 = #{imagePath1,jdbcType=VARCHAR},
      image_path_2 = #{imagePath2,jdbcType=VARCHAR},
      image_path_3 = #{imagePath3,jdbcType=VARCHAR},
      image_path_4 = #{imagePath4,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=VARCHAR},
      executor_id = #{executorId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      organization_id = #{organizationId,jdbcType=INTEGER}
    where ticket_id = #{ticketId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>