<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<dubbo:application name="kuyun-fd-server" />

	<dubbo:registry address="zookeeper://${zkserver}:2181"
		default="false" />
	<dubbo:registry id="upmsRegistry" address="zookeeper://${zkserver}:2181" />

	<!-- 订阅服务 -->
	<dubbo:consumer check="false" />

	<!-- 接口服务 -->
	<dubbo:reference id="upmsApiService"
		interface="com.kuyun.upms.rpc.api.UpmsApiService" mock="true"
		registry="upmsRegistry" />

	<dubbo:reference id="upmsUserCompanyService" interface="com.kuyun.upms.rpc.api.UpmsUserCompanyService" mock="true" registry="upmsRegistry"/>


	<dubbo:reference id="upmsUserService"
		interface="com.kuyun.upms.rpc.api.UpmsUserService" mock="true"
		registry="upmsRegistry" />

	<dubbo:reference interface="com.kuyun.fileuploader.rpc.api.FileUploaderService"
		id="fileUploaderService" timeout="10000" />
</beans>