/* Cubic Bezier Transition */
/***
Login page
***/
/* logo page */

.m-footer-color{
    background: #2c2c2c;
    color: #959595;
    font-size: 14px;
}


.user-login-6 {
  min-height: 100vh;
  background: url(../../images/bg-final.jpg) 50% 50% no-repeat;
  background-size: cover;
  overflow: hidden;
}
#footer {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background: #2c2c2c;
    height: 45px;
    line-height: 50px;
    color: #959595;
    overflow: hidden;
    margin:0 auto;
}
.footer-w {
  width: 1000px;
  margin: 0 auto
}
.footer-w span {
    padding-left: 10px
}

.footer-w .tel-d {
    float: right;
    color: #bfbfbf;
}

.tel-d em {
    color: #cdcdcd;
    font-size: 14px;
    font-weight: 700;
    margin-left: 3px
}
a.logo {
    display: block;
    width: 177px;
    height: 39px;
    position: fixed;
    top: 2%;
    left: 10%;
    background: url(../../images/logoky.png) no-repeat
}

.logincontent {
  position: absolute;
  right: 20%;
  top: 20%;
  background: #fff !ie;
  background: rgba(161, 153, 153, 0.3);
  filter: alpha(opacity=30);
  width: 320px;
  height:330px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }

.logincontent h3 {
  color: #eee; }

.logincontent h4 {
  color: #eee; }

.logincontent p,
.logincontent label {
  color: #eee; }

.mt-checkbox-login > span:after {
  border-color: #eee; }

.logincontent .login-form,
.logincontent .forget-form {
  padding: 0px;
  margin: 0px; }

.logincontent .form-control {
  background-color: #fff; }

.logincontent .forget-form {
  display: none; }

.logincontent .register-form {
  display: none; }

.logincontent .form-title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px; }

.logincontent .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px; }

.logincontent .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px; }

.logincontent .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px; }

  .logincontent .form-actions .rememberme {
  margin-top: 8px;
  display: inline-block; }

.form-actions button{
  background-color: rgba(75, 135, 193, 1);
  width:80px;
  color: #eee;
}

.logincontent .form-actions .btn {
  margin-top: 1px; }
.logincontent .forget-container {
  width:100%;
  height:50px;
  float:left;
}

.logincontent .forget-password {
  width: 50%;
  height:20px;
  line-height: 20px;
  float:left;

}
.logincontent .forget-password a{
  color:#67a9ff;
}

.logincontent .create-account {
  width: 50%;
  height:20px;
  float:left;
  line-height: 20px;
  padding:0 auto;
  display: inline-block;
}
.logincontent .create-account a{
  width: 90px;
  height:20px;
  float:right;
  line-height: 20px;
  margin:0 auto;
  display: inline-block;
  color:#5bee9a;
}
.logincontent .device-guide {
  width: 50%;
  height:20px;
  margin-top: 5px;
  line-height: 20px;
  float:left;

}
.logincontent .device-guide a{
  color:#f2f2f2;
  font-size: 12px;
}

.customer-service {
    position: absolute;
    right: 4%;
    bottom: 15%;
    width: 37px;
    z-index: 9
}

.customer-service li {
    margin-bottom: 10px;
    position: relative;
    height: 37px;
    width: 37px;
    list-style: none;
}

.customer-service li a {
    display: block;
    height: 37px;
    outline: 0;
    position: relative;
    width: 37px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.customer-service li a span {
    background: url(../img/serviceIcon2.png) no-repeat;
    background: url(../img/serviceIcon2.png) no-repeat\9;
    background-size: 74px 130px;
    display: block;
    height: 37px;
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.customer-service li a .icon {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    z-index: 2
}

.customer-service li.app-service a .icon {
    background-position: 0 0
}

.customer-service li.tel-service a .icon {
    background-position: 0 -46px
}

.customer-service li.wx-service a .icon {
    background-position: 0 -92px
}

.customer-service li a .text {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.customer-service li.app-service a .text {
    background-position: -37px 0
}

.customer-service li.tel-service a .text {
    background-position: -37px -46px
}

.customer-service li.wx-service a .text {
    background-position: -37px -92px
}

.customer-service li .tips {
    display: none;
    position: absolute;
    right: 50px;
    top: -5px
}

.customer-service li.app-service .tips {
    top: -76px
}

.customer-service li.tel-service .tips {
    top: -67px
}

.customer-service li.wx-service .tips {
    top: -58px
}

.customer-service li .tips .con {
    background: #383636;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    width: 160px
}

/*.customer-service li.wx-service .con {
    height: 117px;
    width: 117px
}*/

.customer-service li .tips .con h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px
}

.customer-service li .tips .con h3 {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px
}

.customer-service li .tips .arrow-right {
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #383636;
    margin-top: -8px;
    position: absolute;
    right: -5px;
    top: 50%
}

.customer-service li.guide-service a span {
    width: 38px;
    height: 38px;
    background: url(../img/serviceIcon-6d9d272341.png) no-repeat;
    background-size: 37.5px 84.5px;
    background: url(//es-static.xiaojukeji.com/static/web/home/images/serviceIcons2-11cf34624b.png) no-repeat\9
}

.customer-service li.guide-service a .icon {
    background-position: 0 0
}

.customer-service li.guide-service a .text {
    background-position: 0 -46px;
    background-position: 0 -47px\9
}

.customer-service li:hover a {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.customer-service li:hover .tips {
    display: block
}

@media screen and (min-width:500px) and (max-width:1000px) {
    .customer-service {
        display: none
    }
}

@media screen and (min-width:500px) and (max-width:800px) and (min-height:800px) {
    .customer-service {
        display: none
    }
}

@media screen and (max-width:500px) {
    .customer-service {
        display: none
    }
}


/* select2 dropdowns */
.logincontent .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; }

  .logincontent .has-error .select2-container i {
  color: #b94a48; }

  .logincontent .select2-container a span {
  font-size: 13px; }

  .logincontent .select2-container a span img {
  margin-left: 4px; }

/* footer copyright */
  .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px; }

@media (max-width: 480px) {
  /***
  Login page
  ***/
    .logo {
    margin-top: 10px; }
    .logincontent {
    padding: 30px;
    width: 222px; }
    .logincontent h3 {
    font-size: 22px; }
    .checkbox {
    font-size: 13px; } }
