<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.eam.rpc.mapper.EamApiMapper">

	<resultMap id="EamMaintenanceVOResultMap" type="com.kuyun.eam.vo.EamMaintenanceVO" extends="com.kuyun.eam.dao.mapper.EamMaintenanceMapper.BaseResultMap">
		<result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
		<result column="equipment_number" jdbcType="VARCHAR" property="equipmentNumber" />
		<result column="part_name" jdbcType="VARCHAR" property="partName" />
		<result column="maintain_user_name" jdbcType="VARCHAR" property="maintainUserName" />
	</resultMap>


	<!-- 维保字段 -->
	<sql id="Maintenance_Column_List">
		t.maintenance_id, t.equipment_id, t.part_id, t.part_quantity, t.reason, t.content, t.maintain_user_id, t.maintain_time,
		t.create_user_id, t.create_time, t.update_user_id, t.update_time, t.delete_flag,
	</sql>



	<select id="selectMaintenance" parameterType="com.kuyun.eam.vo.EamMaintenanceVO" resultMap="EamMaintenanceVOResultMap">
		select
		<include refid="Maintenance_Column_List" />
		e.name as equipment_name,
		e.number as equipment_number,
		p.name as part_name,
		u.realname as maintain_user_name
		from eam_maintenance t
		LEFT JOIN eam_equipment e ON t.equipment_id = e.equipment_id
		LEFT JOIN eam_parts p on  t.part_id = p.part_id
		LEFT JOIN upms_user u on t.maintain_user_id = u.user_id
		WHERE 1=1
		<if test="organizationId != null and organizationId != ''">
			AND t.organization_id = #{organizationId}
		</if>

		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>

	<resultMap id="EamLocationVOResultMap" type="com.kuyun.eam.vo.EamLocationVO" extends="com.kuyun.eam.dao.mapper.EamLocationMapper.BaseResultMap">
		<result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
	</resultMap>


	<!-- 仓位字段 -->
	<sql id="Location_Column_List">
		t.location_id, t.warehouse_id, t.number, t.comments,
		t.create_user_id, t.create_time, t.update_user_id, t.update_time, t.delete_flag,
		t.organization_id,
	</sql>



	<select id="selectLocation" parameterType="com.kuyun.eam.vo.EamLocationVO" resultMap="EamLocationVOResultMap">
		select

		<include refid="Location_Column_List" />
		e.name as warehouse_name
		from eam_Location t
		LEFT JOIN eam_warehouse e ON t.warehouse_id = e.warehouse_id
		WHERE 1=1
		<if test="organizationId != null and organizationId != ''">
			AND t.organization_id = #{organizationId}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>


	<resultMap id="EamPartVOResultMap" type="com.kuyun.eam.vo.EamPartVO" extends="com.kuyun.eam.dao.mapper.EamPartsMapper.BaseResultMap">
		<result column="category_name" jdbcType="VARCHAR" property="categoryName" />
	</resultMap>


	<!-- 配件字段 -->
	<sql id="Part_Column_List">
		t.part_id, t.category_id, t.name, t.spec, t.model, t.unit, t.brand,
		t.create_user_id, t.create_time, t.update_user_id, t.update_time, t.delete_flag,
		t.organization_id,
	</sql>



	<select id="selectPart" parameterType="com.kuyun.eam.vo.EamPartVO" resultMap="EamPartVOResultMap">
		select

		<include refid="Part_Column_List" />
		e.name as category_name
		from eam_parts t
		LEFT JOIN eam_parts_category e ON t.category_id = e.category_id
		WHERE 1=1
		<if test="organizationId != null and organizationId != ''">
			AND t.organization_id = #{organizationId}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>


	<resultMap id="EamInventoryVOResultMap" type="com.kuyun.eam.vo.EamInventoryVO" extends="com.kuyun.eam.dao.mapper.EamInventoryMapper.BaseResultMap">
		<result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
		<result column="location_number" jdbcType="VARCHAR" property="locationNumber" />
		<result column="part_name" jdbcType="VARCHAR" property="partName" />
	</resultMap>


	<!-- 库存字段 -->
	<sql id="Inventory_Column_List">
		t.inventory_id, t.warehouse_id, t.location_id, t.part_id, t.quantity, t.in_task_date,
		t.create_user_id, t.create_time, t.update_user_id, t.update_time, t.delete_flag,
		t.organization_id,
	</sql>



	<select id="selectInventory" parameterType="com.kuyun.eam.vo.EamInventoryVO" resultMap="EamInventoryVOResultMap">
		select

		<include refid="Inventory_Column_List" />
		w.name as warehouse_name,
		l.number as location_number,
		p.name as part_name
		from eam_inventory t
		LEFT JOIN eam_warehouse w ON t.warehouse_id = w.warehouse_id
		LEFT JOIN eam_location l ON t.location_id = l.location_id
		LEFT JOIN eam_parts p ON t.part_id = p.part_id
		WHERE 1=1
		<if test="organizationId != null and organizationId != ''">
			AND t.organization_id = #{organizationId}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>


	<resultMap id="EamSensorDataVOResultMap" type="com.kuyun.eam.vo.EamSensorDataVO" extends="com.kuyun.eam.dao.mapper.EamSensorDataMapper.BaseResultMap">
		<result column="equipment_id" jdbcType="VARCHAR" property="equipmentId" />
		<result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
		<result column="equipment_model_property_id" jdbcType="VARCHAR" property="equipmentModelPropertyId" />
		<result column="equipment_model_property_name" jdbcType="VARCHAR" property="equipmentModelPropertyName" />
	</resultMap>

	<sql id="Sensor_Data_Column_List">
		t.sensor_data_id, t.sensor_id, t.string_value, t.number_value, t.boolean_value, t.longitude_value,
		t.latitude_value, t.create_user_id, t.create_time, t.update_user_id, t.update_time, t.delete_flag,
		t.organization_id,
	</sql>

	<select id="selectEamSensorData" parameterType="com.kuyun.eam.vo.EamSensorVO" resultMap="EamInventoryVOResultMap">
		select
		<include refid="Sensor_Data_Column_List" />
		e.equipment_id,
		e.name as equipment_name,
		p.equipment_model_property_id,
		p.name as equipment_model_property_name
		from eam_sensor_data t
		LEFT JOIN eam_sensor s ON t.sensor_id = s.sensor_id
		LEFT JOIN eam_equipment_model_properties p ON p.equipment_model_property_id = s.equipment_model_property_id
		LEFT JOIN eam_equipment e ON e.equipment_id = s.equipment_id
		WHERE 1=1
		<if test="sensorId != null and sensorId != ''">
			AND s.sensor_id = #{sensorId}
		</if>
		<if test="equipmentId != null and equipmentId != ''">
			AND s.equipment_id = #{equipmentId}
		</if>
		<if test="equipmentModelPropertyId != null and equipmentModelPropertyId != ''">
			AND s.equipment_model_property_id = #{equipmentModelPropertyId}
		</if>
		<if test="startDate != null and startDate != ''">
			AND t.create_time <![CDATA[>=]]> #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND t.create_time <![CDATA[<=]]>#{endDate}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>

	<!-- 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

</mapper>