<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuyun.upms.rpc.mapper.UpmsApiMapper">

	<!-- 权限 -->
	<resultMap id="UpmsPermissionResultMap" type="com.kuyun.upms.dao.model.UpmsPermission">
		<id column="permission_id" jdbcType="INTEGER" property="permissionId" />
		<result column="system_id" jdbcType="INTEGER" property="systemId" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="permission_value" jdbcType="VARCHAR" property="permissionValue" />
		<result column="uri" jdbcType="VARCHAR" property="uri" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
		<result column="orders" jdbcType="BIGINT" property="orders" />
	</resultMap>

	<!-- 角色 -->
	<resultMap id="UpmsRoleResultMap" type="com.kuyun.upms.dao.model.UpmsRole">
		<id column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
		<result column="orders" jdbcType="BIGINT" property="orders" />
	</resultMap>

	<!-- 用户 -->
	<resultMap id="UpmsUserResultMap" type="com.kuyun.upms.dao.model.UpmsUser">
		<id column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="avatar" jdbcType="VARCHAR" property="avatar" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="locked" jdbcType="TINYINT" property="locked" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
	</resultMap>

	<!-- 组织 -->
	<resultMap id="UpmsOrganizationResultMap" type="com.kuyun.upms.dao.model.UpmsOrganization">
		<id column="organization_id" jdbcType="INTEGER" property="organizationId" />
		<result column="pid" jdbcType="VARCHAR" property="pid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="ctime" jdbcType="BIGINT" property="ctime" />
	</resultMap>

	<!-- 权限字段 -->
	<sql id="UpmsPermission_Column_List">
		permission_id, system_id, pid, name, type, permission_value, uri, icon, status, ctime, orders
	</sql>

	<!-- 角色字段 -->
	<sql id="UpmsRole_Column_List">
		role_id, name, title, description, ctime, orders
	</sql>

	<!-- 用户字段 -->
	<sql id="UpmsUser_Column_List">
		 user_id, username, password, salt, realname, avatar, phone, email, sex, locked, ctime
	</sql>

	<!-- 根据用户获取所拥有的权限 -->
	<select id="selectUpmsPermissionByUpmsUserId" parameterType="java.lang.Integer" resultMap="UpmsPermissionResultMap">
		select
		<include refid="UpmsPermission_Column_List" />
		from upms_permission up, (
		select permission_id permissionId from upms_role_permission urp, upms_user_role uur where urp.role_id =uur.role_id AND uur.user_id= #{upmsUserId,jdbcType=INTEGER}
		union
		select permission_id permissionId from upms_user_permission uup1 where uup1.user_id= #{upmsUserId,jdbcType=INTEGER} and uup1.type=1
		) p where up.`status`=1 and up.permission_id = p.permissionId
		and up.permission_id not in (select permission_id from upms_user_permission uup2 where uup2.permission_id and uup2.user_id= #{upmsUserId,jdbcType=INTEGER} and uup2.type=-1)
		order by up.orders asc
	</select>

	<!-- 角色字段 -->
	<sql id="UpmsOrganization_Column_List">
		 organization_id, pid, name, description, ctime
	</sql>

	<!-- 根据用户id获取所属的角色 -->
	<select id="selectUpmsRoleByUpmsUserId" parameterType="java.lang.Integer" resultMap="UpmsRoleResultMap">
		select
		<include refid="UpmsRole_Column_List" />
		from upms_role ur where ur.role_id in (
		select uur.role_id from upms_user_role uur where uur.user_id=#{upmsUserId,jdbcType=INTEGER}
		)
	</select>

	<!-- 根据角色id获取所属的用户 -->
	<select id="selectUpmsUserByUpmsRoleId" parameterType="java.lang.Integer" resultMap="UpmsUserResultMap">
		select
		<include refid="UpmsUser_Column_List" />
		from upms_user ur where ur.user_id in (
		select uur.user_id from upms_user_role uur where uur.role_id=#{upmsRoleId,jdbcType=INTEGER}
		)
	</select>

	<!-- 根据id获取所在组织所有的父组织 -->
	<select id="selectAllParentOrganizationById" parameterType="java.lang.Integer" resultMap="UpmsOrganizationResultMap">
		select
		<include refid="UpmsOrganization_Column_List" />
		from upms_organization uo
		where FIND_IN_SET(uo.organization_id,getParentList(#{organizationId,jdbcType=INTEGER}));
	</select>

	<!-- 根据id获取所在组织的所有子节点 -->
	<select id="selectAllChildOrganizationById" parameterType="java.lang.Integer" resultMap="UpmsOrganizationResultMap">
		select
		<include refid="UpmsOrganization_Column_List" />
		from upms_organization uo
		where FIND_IN_SET(uo.organization_id,getChildList(#{organizationId,jdbcType=INTEGER}));
	</select>

	<select id="selectUpmsCompany" parameterType="java.lang.Integer" resultMap="com.kuyun.upms.dao.mapper.UpmsCompanyMapper.BaseResultMap">
		select

		c.company_id, c.parent_id, c.name, c.address, c.phone, c.fax, c.zip, c.www, c.create_user_id, c.create_time,
		c.update_user_id, c.update_time, c.delete_flag

		from upms_company c,
		upms_user_company uc
		where c.company_id = uc.company_id
		and uc.user_id=#{userId,jdbcType=INTEGER}
		limit 1
	</select>

	<resultMap id="UpmsUserVoResultMap" type="com.kuyun.upms.dao.vo.UpmsUserVo">
		<id column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="login_time" jdbcType="BIGINT" property="loginTime" />
		<result column="login_number" jdbcType="INTEGER" property="loginNumber" />
	</resultMap>

	<select id="selectLoginUsers" parameterType="com.kuyun.upms.dao.vo.UpmsUserVo" resultMap="UpmsUserVoResultMap">
		select uu.user_id, uu.realname, uu.phone, uu.email,
			   uc.name as company_name,
		       max(ul.start_time) as login_time,
		       count(ul.log_id) as login_number
		from upms_user uu
		left join upms_user_company uuc on uu.user_id = uuc.user_id
		left join upms_company uc on uc.company_id = uuc.company_id
		left join upms_log ul on uu.username = ul.username and
		method = 'POST' AND description = '登录'
		GROUP BY
				uu.user_id, uu.realname, uu.phone, uu.email, uc.name
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>

	<resultMap id="UpmsCompanyVoResultMap" type="com.kuyun.upms.dao.vo.UpmsCompanyVo" extends="com.kuyun.upms.dao.mapper.UpmsCompanyMapper.BaseResultMap">
			<result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
			<result column="online_number" jdbcType="INTEGER" property="onlineNumber" />
			<result column="offline_number" jdbcType="INTEGER" property="offlineNumber" />
	</resultMap>
	<select id="selectCompanyEquipments" parameterType="com.kuyun.upms.dao.vo.UpmsCompanyVo" resultMap="UpmsCompanyVoResultMap">
		select uc.name,
		count(ee.equipment_id) as equipment_number,
		sum(case is_online when 1 then 1 else 0 end) as online_number,
		count(ee.equipment_id) - sum(case is_online when 1 then 1 else 0 end) as offline_number
		from upms_company uc
		left join eam_equipment_company eec on uc.company_id = eec.company_id and eec.delete_flag = 0
		left join eam_equipment ee on eec.equipment_id = ee.equipment_id and ee.delete_flag = 0
		where uc.delete_flag = 0
		group by uc.name
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>

	<select id="countCompanyEquipments" parameterType="com.kuyun.upms.dao.vo.UpmsCompanyVo" resultType="java.lang.Long">
		select count(distinct name)
		from upms_company
		where delete_flag = 0
	</select>


	<select id="selectUsersByUserCompany" parameterType="com.kuyun.upms.dao.vo.UpmsUserCompanyVO" resultMap="com.kuyun.upms.dao.mapper.UpmsUserMapper.BaseResultMap">
		select DISTINCT uu.*
		from upms_user uu
		left join upms_user_company uuc on uu.user_id = uuc.user_id
		left join upms_user_organization uuo on uu.user_id = uuo.user_id
		left join upms_organization uo on uo.organization_id = uuo.organization_id
		WHERE 1 = 1
		<if test="companyId != null and companyId != ''">
			AND uuc.company_id = #{companyId}
		</if>
		<if test="orgName != null and orgName != ''">
			AND uo.name = #{orgName}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<resultMap id="UpmsOrgUserVoResultMap" type="com.kuyun.upms.dao.vo.UpmsOrgUserVo">
		<id column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="avatar" jdbcType="VARCHAR" property="avatar" />
		<result column="company_name" jdbcType="VARCHAR" property="companyName" />
		<result column="login_time" jdbcType="BIGINT" property="loginTime" />
		<result column="login_number" jdbcType="INTEGER" property="loginNumber" />
	</resultMap>

	<select id="selectOrgUsersByOrgNameCompanyId" parameterType="com.kuyun.upms.dao.vo.UpmsOrgUserVo" resultMap="UpmsOrgUserVoResultMap">
		select distinct uu.user_id, uu.realname, uu.phone, uu.email, uu.avatar
		from upms_user uu,
		upms_user_company uuc,
		upms_organization uo,
		upms_user_organization uuo
		where uu.user_id = uuc.user_id
		and uuc.company_id=uo.company_id
		and uu.user_id = uuo.user_id
		and uo.organization_id = uuo.organization_id
		<if test="companyId != null">
			and  uo.company_id = ${companyId}
		</if>
		<if test="orgName != null">
			and  uo.name = '${orgName}'
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="selectUsers" parameterType="com.kuyun.upms.dao.vo.UpmsUserVo" resultMap="com.kuyun.upms.dao.mapper.UpmsUserMapper.BaseResultMap">
		select	uu.user_id, uu.username, uu.password, uu.salt, uu.realname, uu.avatar, uu.phone, uu.email, uu.sex, uu.locked, uu.ctime
		from upms_user uu
		left join upms_user_company uuc on uu.user_id = uuc.user_id
		WHERE 1 = 1
		<if test="companyId != null and companyId != ''">
			AND uuc.company_id = #{companyId}
		</if>
		<if test="searchName != null and searchName != ''">
			<bind name="pattern" value="'%' + searchName + '%'" />
			AND (uu.username like #{pattern} OR uu.realname like #{pattern})
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>

	<select id="countUsers" parameterType="com.kuyun.upms.dao.vo.UpmsUserVo" resultType="java.lang.Long">
		select count(uu.user_id)
		from upms_user uu
		left join upms_user_company uuc on uu.user_id = uuc.user_id
		WHERE 1 = 1
		<if test="companyId != null and companyId != ''">
			AND uuc.company_id = #{companyId}
		</if>
		<if test="searchName != null and searchName != ''">
			<bind name="pattern" value="'%' + searchName + '%'" />
			AND (uu.username like #{pattern} OR uu.realname like #{pattern})
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>


	<select id="selectCompanies" parameterType="com.kuyun.upms.dao.vo.UpmsCompanyVo" resultMap="com.kuyun.upms.dao.mapper.UpmsCompanyMapper.BaseResultMap">
		select
		uuc.company_id, uuc.seq_id, uuc.parent_id, uuc.name, uuc.phone, uuc.fax, uuc.zip, uuc.www, uuc.address, uuc.admin_name, uuc.admin_password,
		uuc.create_user_id, uuc.create_time, uuc.update_user_id, uuc.update_time, uuc.delete_flag
		from upms_company uuc
		WHERE uuc.delete_flag = 0
		<if test="search != null and search != ''">
			<bind name="pattern" value="'%' + search + '%'" />
			AND uuc.name like #{pattern}
		</if>
		<if test="parentId != null and parentId != ''">
			AND uuc.parent_id = #{parentId}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			<if test="offset != null">
				limit ${offset}, ${limit}
			</if>
			<if test="offset == null">
				limit ${limit}
			</if>
		</if>
	</select>

	<select id="countCompanies" parameterType="com.kuyun.upms.dao.vo.UpmsCompanyVo" resultType="java.lang.Long">
		select count(uuc.company_id)
		from upms_company uuc
		WHERE uuc.delete_flag = 0
		<if test="search != null and search != ''">
			<bind name="pattern" value="'%' + search + '%'" />
			AND uuc.name like #{pattern}
		</if>
		<if test="parentId != null and parentId != ''">
			AND uuc.parent_id = #{parentId}
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<!-- 缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

</mapper>